// NATIVING - Component Molecules card.sass - Digital Campus 2018

////////////////////
// CARD DEFAULT
////////////////////////////////////////////////////////////////////////////////
.card
  position: relative




////////////////////
// CARD DOT
////////////////////////////////////////////////////////////////////////////////
.card--dot


  .card__title
    align-items: center
    display: flex
    margin-bottom: 1.5rem

    h3
      margin-left: 1.5rem
      margin-bottom: 0 !important
      margin-top: 0 !important


  .card__dot
    align-items: center
    background-color: rgba($white, .2)
    border-radius: 50%
    display: flex
    height: 6rem
    justify-content: center
    overflow: hidden
    position: relative
    width: 6rem
    z-index: 20
    &::before,
    &::after
      border-radius: 50%
      content: ''
      left: 50%
      position: absolute
      top: 50%
      transform: translate(-50%, -50%)
      transition: all $transition-default
    &::before
      background-color: rgba($white, .5)
      content: ''
      height: calc(100% - 1rem)
      width: calc(100% - 1rem)
      z-index: 21
    &::after
      background-color: rgba($white, 1)
      height: calc(100% - 2rem)
      width: calc(100% - 2rem)
      z-index: 22

    p
      color: $primary
      font-weight: 700
      margin-bottom: 0
      position: relative
      z-index: 23

    img
      color: $primary
      position: relative
      width: 2rem
      z-index: 23


  p
    margin-bottom: 0





////////////////////
// CARD RASSURANCE
////////////////////////////////////////////////////////////////////////////////
.card--rassurance
  background-color: $white
  box-shadow: 0rem 0.2rem 0.7rem 0rem rgba($black, .2)
  border-radius: 0.4rem
  color: rgba($gray-dark, .5)
  padding: 1.2rem

  .card__title
    align-items: center
    display: flex
    margin-bottom: 1rem
    text-transform: uppercase

    h4
      margin-bottom: 0
      margin-top: 0

    img
      margin-right: 1rem
      width: 2rem





////////////////////
// CARD PROFILE
////////////////////////////////////////////////////////////////////////////////
.card--profile
  border-radius: 0.4rem
  box-shadow: 0rem 0.2rem 0.7rem 0rem rgba($black, .2)
  background-color: $white
  display: flex
  margin-bottom: -10rem
  height: 34rem


  ///// CARD IMAGE
  .card__image
    height: 100%
    height: 34rem
    width: 32rem
    img
      border-top-left-radius: 0.4rem
      border-bottom-left-radius: 0.4rem


  ///// CARD CONTENT
  .card__content
    display: flex
    flex-grow: 1
    justify-content: space-between
    flex-direction: column
    padding: 2rem

    h1
      color: $gray-dark !important
      margin-bottom: 0
      text-align: left !important

    h3
      margin-top: 1rem
      margin-bottom: 2rem
      font-size: 2rem
      text-transform: none

  .card__infos
    margin-bottom: 2rem
    padding-left: 0
    li
      list-style: none
      margin-bottom: 1rem
    img
      margin-right: 1rem
      width: 2rem

  .btn-wrapper
    border-top: 0.1rem solid rgba($black, .2)
    flex-grow: 1
    padding-top: 2rem
    .btn
      span + span
        margin-left: 0
    .btn + .btn
      margin-left: 2rem





////////////////////
// CARD BUBBLE
////////////////////////////////////////////////////////////////////////////////
.card--bubble
  margin-bottom: 2rem
  .card__title
    align-items: center
    margin-bottom: 1rem
    display: flex
    img
      width: 2rem
    span:first-child
      align-items: center
      border-radius: 50%
      background-color: $white
      display: flex
      justify-content: center
      margin-right: 1rem
      height: 4rem
      width: 4rem
    h3
      text-transform: none

  .card__content
    display: flex
    flex-wrap: wrap
    span
      background-color: $white
      border-radius: 10rem
      margin-bottom: 1rem
      margin-right: 1rem
      padding: 0.2rem 1rem





////////////////////
// CARD INFO
////////////////////////////////////////////////////////////////////////////////
.card--info
  margin-bottom: 2rem
  .card__title
    align-items: center
    margin-bottom: 1rem
    display: flex
    img
      width: 2rem
    span:first-child
      align-items: center
      border-radius: 50%
      background-color: $white
      display: flex
      justify-content: center
      margin-right: 1rem
      height: 4rem
      width: 4rem
    h3
      text-transform: none

  .card__content
    background-color: $white
    box-shadow: 0rem 0.2rem 0.7rem 0rem rgba($black, .2)
    border-radius: 0.4rem
    padding: 1.5rem

    img
      width: 2rem

    div
      align-items: center
      display: flex
      justify-content: space-between
      + div
        margin-top: 1.5rem






////////////////////
// CARD DESCRIPTION
////////////////////////////////////////////////////////////////////////////////
.card--description
  background-color: $white
  box-shadow: 0rem 0.2rem 0.7rem 0rem rgba($black, .2)
  border-radius: 0.4rem
  margin-bottom: 2rem
  padding: 2rem

  .card__title
    align-items: center
    margin-bottom: 2rem
    display: flex
    img
      margin-right: 1.5rem
      width: 2rem
    h3
      margin-top: 0
      margin-bottom: 0

  .card__image
    .slick-dots
      display: none !important
    .slider--nav
      margin-right: -1rem
      margin-left: -1rem
    .slider--lg
      height: 30rem





