// NATIVING - Component Molecules hero.sass - Digital Campus 2018

////////////////////
// HERO FULL HEIGHT
////////////////////////////////////////////////////////////////////////////////
.hero
  position: relative





////////////////////
// HERO FULL HEIGHT
////////////////////////////////////////////////////////////////////////////////
.hero--fh
  height: 100vh
  overflow: hidden
  width: 100%