// NATIVING - Component Molecules hero.sass - Digital Campus 2018

////////////////////
// HERO FULL HEIGHT
////////////////////////////////////////////////////////////////////////////////
.hero
  position: relative





////////////////////
// HERO FULL HEIGHT
////////////////////////////////////////////////////////////////////////////////
.hero--fh
  height: 100vh
  overflow: hidden
  width: 100%


  ///// VIDEO OPEN
  &.open
    .hero__content
      &::after
        width: 0%
      .hero__title
        opacity: 0
        visibility: hidden
    .hero__image
      width: 100%
    .hero__image--video
      visibility: visible
      opacity: 1
      z-index: 10
    .hero__action--scroll
      opacity: 0
      visibility: hidden
    .btn--halo
      right: 2rem
      top: 8rem
      transform: none
      left: initial
      width: 8rem
      height: 8rem
      .first
        opacity: 0
        visibility: hidden
      .second
        opacity: 1
        visibility: visible




  ///// HERO CONTENT
  .hero__content
    height: 100%
    position: relative
    width: 100%
    z-index: 10
    &::after
      background-color: $white
      content: ''
      height: 100%
      left: 0
      position: absolute
      top: 0
      transition: all $transition-default
      width: 55%
      z-index: 10

    .container
      height: 100%

    .hero__title
      align-items: flex-start
      display: flex
      flex-direction: column
      height: 100%
      justify-content: center
      position: relative
      transition: all $transition-default
      z-index: 15

    h1
      font-weight: 300
      +fluid-size(576px, 1800px, 24px, 48px)
      line-height: 1.3
      margin-bottom: 2rem
      margin-top: 0
      text-align: left
      .title--bold
        color: $primary
        font-weight: 600

    p
      +fluid-size(576px, 1800px, 14px, 20px)
      margin-bottom: 3rem
      max-width: 50%



  ///// HERO IMAGE
  .hero__image
    height: 100%
    position: absolute
    right: 0
    top: 0
    transition: all $transition-default 35ms
    width: 70%
    &::after
      background-color: rgba($secondary, .3)
      content: ''
      height: 100%
      left: 0
      position: absolute
      top: 0
      width: 100%
      z-index: 5


  ///// HERO IMAGE
  .hero__image--video
    height: 100%
    left: 0
    opacity: 0
    position: absolute
    top: 0
    visibility: hidden
    transition: all $transition-default
    width: 100%
    z-index: 8
    iframe
      height: 100%
      width: 100%



  ///// HERO ACTION
  .hero__action-wrapper
    bottom: 2rem
    left: 0
    position: absolute
    width: 100%
    z-index: 20


  .hero__action
    align-items: center
    color: $gray-dark
    display: flex
    height: 3.4rem
    justify-content: space-between

    .nav--gray
      .action-icon
        opacity: 0.7

    .hero__action--scroll
      transition: all $transition-default

    .hero__action--social
      margin-right: -1rem

    .action-icon
      line-height: 1
      padding: 1rem
      transition: all $transition-default
      img
        width: 1.4rem
      + .action-icon
        margin-left: 1rem
      &:hover
        opacity: 1 !important

    .link-scroll
      align-items: center
      display: flex
      &:hover
        .scroll__dot
          top: 2.2rem
        .scroll__border
          opacity: 0.7
        span + span
          opacity: 0.7
      span
        color: $gray-dark
        font-size: 1rem
        font-weight: 900
        text-transform: uppercase
        transition: all $transition-default
        + span
          margin-left: 1rem

    .scroll-indicator
      display: inline-block
      position: relative
      .scroll__border
        background-color: transparent
        border: 0.2rem solid $gray-dark
        border-radius: 1rem
        height: 3.4rem
        transition: all $transition-default
        width: 2rem
      .scroll__dot
        border-radius: 50%
        background-color: $gray-dark
        height: 0.5rem
        left: 50%
        position: absolute
        transform: translateX(-50%)
        transition: all $transition-default
        top: 0.7rem
        width: 0.5rem





////////////////////
// HERO SMALL
////////////////////////////////////////////////////////////////////////////////
.hero--sm
  align-items: center
  display: flex
  height: 35rem
  overflow: hidden
  width: 100%

  ///// HERO IMAGE
  .hero__image
    height: 100%
    position: absolute
    left: 0
    top: 0
    transition: all $transition-default 35ms
    width: 100%
    &::after
      background-color: rgba($secondary, .3)
      content: ''
      height: 100%
      left: 0
      position: absolute
      top: 0
      width: 100%
      z-index: 5

  ///// HERO CONTENT
  .hero__content
    position: relative
    width: 100%
    z-index: 10

    h1
      color: $white
      text-align: center
      margin-top: 0

    p
      color: $white
      margin-bottom: 2rem
      text-align: center