// NATIVING - Component Molecules searchbar.sass - Digital Campus 2018

////////////////////
// SEARCHBAR DEFAULT
////////////////////////////////////////////////////////////////////////////////
.searchbar
  align-items: center
  background-color: $white
  border-radius: 10rem
  display: flex
  padding: 1rem 1rem 1rem 2rem

  .form-group,
  .form-group--smooth
    margin-top: 0
    margin-bottom: 0

  .form-control
    margin-bottom: 0

  .input-smooth
    border-bottom: none

  // .input-smooth--first
  //   border-top-left-radius: 10rem
  //   border-bottom-left-radius: 10rem

  .label--smooth
    &::before
      content: none