// NATIVING - Component Organisms section.sass - Digital Campus 2018

////////////////////
// SECTION DEFAULT
////////////////////////////////////////////////////////////////////////////////
section
  padding: 5rem 0
  width: 100%





////////////////////
// SECTION COLOR
////////////////////////////////////////////////////////////////////////////////
.section--primary
  background-color: $primary
  padding: 7rem 0
  color: $white

  h2, h3, h4, h5, h6
    color: $white
    margin-bottom: 4rem
    margin-top: 0
    text-align: left
    text-transform: none
