////////////////////
// FOOTER
////////////////////////////////////////////////////////////////////////////////

$footer-border-color: rgba($white, .2)



// MAIN FOOTER
// ---------------------------------------------------------

///// MAIN FOOTER
.main-footer
  background-color: $gray-dark
  border-top: none
  color: $gray-light
  min-height: 25rem
  margin-top: 0
  padding-top: 3rem
  padding-bottom: 2rem

  a
    color: $white
    &:hover,
    &:focus
      color: $white

  hr
    border-top-color: $footer-border-color
    margin-top: 2rem
    margin-bottom: 2rem


///// FOOTER TITLE
.footer-title
  color: $white
  letter-spacing: 0.15rem
  margin-bottom: 0.3rem
  margin-top: 1rem
  text-transform: uppercase


///// FOOTER LOGO
.footer-logo
  font-size: 5rem
  margin-right: auto
  width: 22rem
  img
    width: 15rem


///// FOOTER SOCIAL LINKS
.footer-social__links
  align-items: center
  display: flex
  justify-content: flex-end
  margin-left: -0.3rem
  margin-right: -0.3rem
  margin-top: 1.5rem
  a + a
    margin-left: 1.5rem
  img
    display: inline-block
    font-size: 3rem
    margin-left: 0.3rem
    margin-right: 0.3rem
    opacity: .5
    vertical-align: middle
    transition: all $transition-default
    width: 2.5rem
    &:hover
      opacity: 1



// FOOTER BAR
// ---------------------------------------------------------
.footer-bar
  border-top: 1px solid $footer-border-color
  border-bottom: 1px solid $footer-border-color
  display: flex
  justify-content: space-between
  margin-top: 3rem
  margin-bottom: 1.5rem
  padding-top: 0.7rem
  padding-bottom: 0.7rem
  text-transform: uppercase

  .nav-item + .nav-item
    margin-left: 1rem

  .navbar
    padding: 0

  .navbar-collapse
    -ms-flex-preferred-size: auto //-> IE FIX


///// FOOTER BOTTOM
.footer--bottom
  align-items: center
  display: flex
  justify-content: space-between
  margin-bottom: 0
  width: 100%
  &::before,
  &::after
    content: none
  .navbar-collapse
    padding: 0
    .navbar-nav
      padding-left: 0
      .nav-item:first-child
        margin-left: 0

///// FOOTER LEGALS
.footer-legals
  color: darken($gray-smooth, 10%)
  display: flex
  justify-content: space-between

  a
    color: darken($gray-smooth, 10%)

.footer-time
  margin-left: 1rem

///// FOOTER BASICS
.footer-basics
  margin-left: -1rem
  margin-right: -1rem
  text-transform: uppercase

  a
    margin-left: 1rem
    margin-right: 1rem