// NATIVING - Component Atoms BUTTONS - Digital Campus 2018

////////////////////
// BUTTONS
////////////////////////////////////////////////////////////////////////////////

// BUTTONS DEFAULT
// ---------------------------------------------------------
.btn
  border: 0.1rem solid transparent
  border-radius: 3rem
  cursor: pointer
  font-size: $text-font-size
  font-weight: 600
  overflow: hidden
  position: relative
  padding: 0.8rem 2.5rem 0.9rem !important
  text-decoration: none
  -webkit-mask-image: -webkit-radial-gradient(white, black) // fix overflow Safari issue

.btn:focus,
.btn.focus,
button:focus
  box-shadow: none
  outline: 0

.btn:hover,
.btn.hover,
button:hover
  cursor: pointer

.btn-wrapper
  span + span
    margin-left: 2rem


// BUTTON COLOR
// ---------------------------------------------------------

///// BUTTON ANIMATION
.btn-primary,
.btn-primarysmooth,
.btn-primarydark,
.btn-secondary,
.btn-default,
.btn-dark,
.btn-danger,
.btn-warning
  border: none
  &::before
    border-radius: 50%
    content: ''
    color: $white
    height: 100%
    left: 100%
    margin: 0
    position: absolute
    top: 0
    transform-origin: 100% 50%
    transform: scale3d(1, 1.4, 1)
    transition: all 300ms cubic-bezier(0.7,0,0.9,1)
    width: 20%
  &:hover,
  &:focus,
  &:active,
  &:not(:disabled):not(.disabled):active
    &::before
      transform: scale3d(1, 5, 1)
      width: 110%
      left: -2%
      z-index: 0
  span,
  div,
  i
    position: relative
    z-index: 1
  div:first-child
    font-weight: 700

  span
    white-space: normal
    display: inline-block
    line-height: 1


///// BUTTON PRIMARY
.btn-primary
  background-color: $primary
  color: $white !important
  &:hover,
  &:focus,
  &:active,
  &:not(:disabled):not(.disabled):active
    background-color: $primary !important
    color: $white
  &::before
    background-color: $primary-smooth

a.btn-primary:hover,
a.btn-primary:focus
  color: $white



///// BUTTON PRIMARY
.btn-secondary
  background-color: $gray-light
  color: $gray
  &:hover,
  &:focus,
  &:active,
  &:not(:disabled):not(.disabled):active
    background-color: $gray-light !important
    color: $gray
  &::before
    background-color: rgba($gray-smooth, .4)

a.btn-primary:hover,
a.btn-primary:focus
  color: $white


///// BTN OUTLINE
.btn-outline
  border: 0.1rem solid $primary
  background-color: transparent
  color: $primary !important
  &:hover
    color: $white !important
    border-color: $primary
    background-color: transparent !important
  &:focus
    color: $white !important
    border-color: $primary !important




// BUTTON SHAPE
// ---------------------------------------------------------

///// BUTTON HALO
.btn--halo
  align-items: center
  background-color: rgba($primary, .2)
  border-radius: 50%
  display: flex
  height: 10rem
  justify-content: center
  left: calc(77% - 4.5rem)
  position: absolute
  top: 50%
  transform: translateY(-50%)
  width: 10rem
  z-index: 20
  &::before,
  &::after
    border-radius: 50%
    content: ''
    left: 50%
    position: absolute
    top: 50%
    transform: translate(-50%, -50%)
    transition: all $transition-default
  &::before
    background-color: rgba($primary, .5)
    content: ''
    height: calc(100% - 1.5rem)
    width: calc(100% - 1.5rem)
    z-index: 21
  &::after
    background-color: rgba($primary, 1)
    height: calc(100% - 3rem)
    width: calc(100% - 3rem)
    z-index: 22

  &:hover
    &::before
      height: calc(100% - 3rem)
      width: calc(100% - 3rem)
    &::after
      background-color: rgba($primary-smooth, 1)
      height: calc(100% - 1.5rem)
      width: calc(100% - 1.5rem)


  img
    color: $white
    margin-left: 0
    left: 50%
    position: absolute
    top: 50%
    transition: all $transition-default
    transform: translate(-50%, -50%)
    width: 2rem
    z-index: 23
  .first
    opacity: 1
    visibility: visible
  .second
    opacity: 0
    visibility: visible