<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "A propos", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Inscription", '#' %></li>
    </ul>
  </nav>
</footer>